*{
    /* padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins'sans-serif; */
    /* background-color: yellow; */
}

#btn{
    background-attachment: yellow;
    border-radius: 10px;
}
#btn:hover{ 
    background-color: rgb(42, 106, 165); 
    color: white;
}

.ta